<div class="row">
  <div class="col-md-12 table-bordered">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
      <div class="container-fluid"><a class="navbar-brand" href="#">Brand</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-2">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Products</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Chekout</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#">SignOut</a></li>
            <li class="dropdown float-right"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Cart</a>
              <div class="dropdown-menu dropdown-menu-right" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
