<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <p><strong>Contact Info</strong></p>
        <p>0000 Market St, Suite 000, San Francisco, CA 00000, (123) 456-7890&nbsp;<a href="mailto: someone@example.com">someone@example.com</a></p>
      </div>
    </div>
  </div>
</footer>
