
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Quick Shop</h4>
    <div class="input-group"><input class="form-control" type="text" placeholder="search" autofocus="" autocomplete="off">
      <div class="input-group-append"><button class="btn btn-primary" type="button">Go!</button></div>
    </div>
  </div>
</div>
