<div class="row">

  <div class="col-12 col-sm-4 col-md-4 table-bordered">

    <app-quick-search></app-quick-search>

    <app-categories></app-categories>

  </div>

  <div class="col-12 col-sm-8 col-md-8 table-bordered">

    <app-product-grid></app-product-grid>

  </div>

</div>
