<div class="row">
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/placeholdit-270x171.png">
      <div class="card-body">
        <h4 class="text-center card-title">Product</h4><h6 class="text-center card-title"><span class="badge badge-primary">10€</span></h6>
        <div class="btn-group btn-group-sm" role="group"><button class="btn btn-success btn-sm" type="button">Buy</button><button class="btn btn-primary btn-sm" type="button">Info</button></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/placeholdit-270x171.png">
      <div class="card-body">
        <h4 class="text-center card-title">Product</h4><h6 class="text-center card-title"><span class="badge badge-primary">10€</span></h6>
        <div class="btn-group btn-group-sm" role="group"><button class="btn btn-success btn-sm" type="button">Buy</button><button class="btn btn-primary btn-sm" type="button">Info</button></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/placeholdit-270x171.png">
      <div class="card-body">
        <h4 class="text-center card-title">Product</h4><h6 class="text-center card-title"><span class="badge badge-primary">10€</span></h6>
        <div class="btn-group btn-group-sm" role="group"><button class="btn btn-success btn-sm" type="button">Buy</button><button class="btn btn-primary btn-sm" type="button">Info</button></div>
      </div>
    </div>
  </div>
</div>
