<div class="row">
  <div class="col-md-12 table-bordered">
    <div class="jumbotron">
      <h1 class="display-4">Fresh Organic Market</h1>
      <p class="lead">Nice change to save a lot of money</p>
      <hr>
      <p>We are open 7 Days a Week 7:00am to 10:00pm</p>
    </div>
  </div>
</div>
