<div class="card">
  <div class="card-body">
    <h4 class="card-title">Categories</h4>
    <ul class="list-group">
      <li class="list-group-item"><span>Apples</span></li>
      <li class="list-group-item"><span>Bananas</span></li>
      <li class="list-group-item"><span>Oranges</span></li>
    </ul>
  </div>
</div>
