<div class="row">
  <div class="col-12 col-sm-6 col-md-4 table-bordered">
    <div class="card"><img class="img-fluid card-img-top w-100 d-block img-rounded center-block product-item" src="assets/img/placeholdit-270x171.png">
      <div class="card-body">
        <h4 class="card-title">Category</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Browse</button></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 table-bordered">
    <div class="card"><img class="img-fluid card-img-top w-100 d-block img-rounded center-block product-item" src="assets/img/placeholdit-270x171.png">
      <div class="card-body">
        <h4 class="card-title">Category</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Browse</button></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 table-bordered">
    <div class="card"><img class="img-fluid card-img-top w-100 d-block img-rounded center-block product-item" src="assets/img/placeholdit-270x171.png">
      <div class="card-body">
        <h4 class="card-title">Category</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Browse</button></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 table-bordered">
    <div class="card"><img class="img-fluid card-img-top w-100 d-block img-rounded center-block product-item" src="assets/img/placeholdit-270x171.png">
      <div class="card-body">
        <h4 class="card-title">Category</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Browse</button></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 table-bordered">
    <div class="card"><img class="img-fluid card-img-top w-100 d-block img-rounded center-block product-item" src="assets/img/placeholdit-270x171.png">
      <div class="card-body">
        <h4 class="card-title">Category</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Browse</button></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 table-bordered">
    <div class="card"><img class="img-fluid card-img-top w-100 d-block img-rounded center-block product-item" src="assets/img/placeholdit-270x171.png">
      <div class="card-body">
        <h4 class="card-title">Category</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Browse</button></div>
    </div>
  </div>
</div>
